<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>Dtdc Admin | Log in</title>

    <!-- Bootstrap core CSS -->
    <link href="~/assets/Home/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="~/assets/Home/assets/css/fontawesome.css">
    <link rel="stylesheet" href="~/assets/Home/assets/css/templatemo-onix-digital.css">
    <link rel="stylesheet" href="~/assets/Home/assets/css/animated.css">
    <link rel="stylesheet" href="~/assets/Home/assets/css/owl.css">
    <!--

    TemplateMo 565 Onix Digital

    https://templatemo.com/tm-565-onix-digital

    -->
</head>
<style>
    li.privacy {
        margin: 14px 0;
        text-align: justify;
        list-style-type: decimal;
    }

    .marker {
        list-style-type: square;
        margin-top: 3px;
        margin-left: 40px;
        margin-top: 15px;
        color: #535658;
        font-size: 14px;
        font-weight: 400;
        font-family: "rubik", sans-serif;
        letter-spacing: 0.6px;
        line-height: 21px;
    }
</style>
<body>

    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
        <div class="preloader-inner">
            <img src="~/assets/Home/assets/images/loader.gif" alt="">
        </div>
    </div>
    <!-- ***** Preloader End ***** -->
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="@Url.Action("Index","Admin")" class="logo">
                            <img src="~/assets/Home/assets/images/logo.png">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="#services">Services</a></li>
                            <li class="scroll-to-section"><a href="#video">About</a></li>
                            <li class="scroll-to-section"><a href="#portfolio">Pricing</a></li>
                            <li class="scroll-to-section"><a href="#contact">Contact Us</a></li>
                            <!-- <li class="scroll-to-section"><a href="#contact">Contact Us</a></li>  -->
                            <li class="scroll-to-section"><div class="main-red-button-hover"><a href="@Url.Action("AdminLogin","Admin")">Customer Login</a></div></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>

                    </nav>
                </div>
            </div>
        </div>
    </header>


    <div style="
  margin-top: 10rem;
">
        <div class="tables-left-dec">
            <img src="~/assets/Home/assets/images/tables-left-dec.png" alt="">
        </div>
        <div class="tables-right-dec">
            <img src="~/assets/Home/assets/images/tables-right-dec.png" alt="">
        </div>
        <div class="container">

            <h2 class="text-center">Privacy  <span>Policy</span></h2>
            <div class="row justify-content-center my-5">
                <div class="col-md-10">
                    <p class="privacypara">Fr-Billing is committed to protecting the privacy and security of our user’s personal and financial information. This privacy policy outlines the information we collect, how we use it, and the measures we have in place to protect it.</p>
                    <p class="privacypara">
                        <b>Information Disclosure</b> <br>
                        Fr-Billing will not disclose or share personally identifiable information with third parties without your permission except when necessary to provide resolution to a service request, to comply with federal or state law or subpoenas, or to comply with liquidation or mergers and acquisition-related activities.
                    </p>
                    <p class="privacypara">
                        <b>Personal Information</b> <br>
                        Users can purchase Fr-Billing services by completing our online forms. As part of the order form, we will request personal contact information and financial information. Any contact information is used to contact the customer to provide our services and any financial information is used only to bill for the Fr-Billing services purchased.
                    </p>
                    <p class="privacypara">
                        <b>Secure Forms</b> <br>
                        when collecting personally identifiable information, we use forms protected by industry standard secure sockets layer (ssl) technology. Using SSL protected forms, all personally identifiable information is encrypted during data transport.
                    </p>
                    <p class="privacypara">
                        <b>Security Measures</b> <br>
                        We take the protection of your personal and financial information seriously and have implemented appropriate security measures to protect it. This includes encryption of sensitive information, secure servers, and regular security audits.
                    </p>
                    <p class="privacypara">
                        <b>Changes to Our Privacy Policy</b> <br>
                        We may update this privacy policy from time to time. Any changes will be posted on our website and will become effective immediately.
                    </p>
                </div>

            </div>
        </div>
    </div>












    <div class="footer-dec">
        <img src="~/assets/Home/assets/images/footer-dec.png" alt="">
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="about footer-item">
                        <div class="logo">
                            <a href="#"><img src="~/assets/Home/assets/images/logo.png" alt="Onix Digital TemplateMo"></a>
                        </div>
                        <a href="#" type="email">frbilling@gmail.com</a>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="services footer-item">
                        <h4>About</h4>
                        <ul>
                            <li class="scroll-to-section"><a href="#video">About</a></li>
                            <li class="scroll-to-section"><a href="#video">Our Vision</a></li>
                            <li class="scroll-to-section"><a href="#portfolio">Our Plans</a></li>
                            <li class="scroll-to-section"><a href="#services">Our Services</a></li>
                        </ul>
                    </div>

                    <!--  -->
                </div>
                <div class="col-lg-3">
                    <div class="community footer-item">
                        <h4>Community</h4>
                        <ul>
                            <li><a href="@Url.Action("TermsCondition","Admin")">Terms & Condition</a></li>
                            <li><a href="@Url.Action("privacyPolicy","Admin")">Privacy Policy</a></li>


                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="subscribe-newsletters footer-item">
                        <h4>Subscribe Newsletters</h4>
                        <p>Get our latest news and ideas to your inbox</p>
                        <form action="#" method="get">
                            <input type="text" name="email" id="email" pattern=" " placeholder="Your Email" required="">
                            <button type="submit" id="form-submit" class="main-button "><i class="fa fa-paper-plane-o"></i></button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="copyright">
                        <p>
                            Copyright © 2023 FR Billing, Ltd. All Rights Reserved.
                            <a rel="nofollow" href="frbilling.com">Fr Billing</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <!-- Scripts -->
    <script src="~/assets/Home/vendor/jquery/jquery.min.js"></script>
    <script src="~/assets/Home/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/Home/assets/js/owl-carousel.js"></script>
    <script src="~/assets/Home/assets/js/animation.js"></script>
    <script src="~/assets/Home/assets/js/imagesloaded.js"></script>
    <script src="~/assets/Home/assets/js/custom.js"></script>


</body>
</html>